<ion-header>
  <ion-navbar>
    <ion-grid class="grid-header">
      <ion-row>
        <ion-col>
          <!-- <ion-title *ngIf="!edit">Add New User</ion-title>
          <ion-title *ngIf="edit">Update User Details</ion-title> -->
          <ion-title color="primary">Post New Job</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formgroup" (ngSubmit)="handlePostJob(formgroup.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-list>
              <ion-item>
                <ion-label position="stacked"><b>Job Title</b></ion-label>
                <!-- <ion-input name="jobTitle" [(ngModel)]="jobTitle"></ion-input> -->
                <ion-input name="jobTitle" formControlName="jobTitle"></ion-input>
              </ion-item>
              <ion-item *ngIf="jobTitle.hasError('required') && jobTitle.touched">
                <p class="alert"> * Job title is required</p>
              </ion-item>
              <ion-item>
                <ion-label position="stacked"><b>Job Location</b></ion-label>
                <!-- <ion-input name="jobLocation" [(ngModel)]="jobLocation"></ion-input> -->
                <ion-input name="jobLocation" formControlName="jobLocation"></ion-input>
              </ion-item>
              <ion-item *ngIf="jobLocation.hasError('required') && jobLocation.touched">
                <p class="alert"> * Job location is required</p>
              </ion-item>
              <ion-item>
                <ion-label position="stacked"><b>Job Status</b></ion-label>
                <!-- <ion-select name="jType" [(ngModel)]="jobStatus">
                  <ion-option value="open">Open</ion-option>
                  <ion-option value="on-hold">On hold</ion-option>
                  <ion-option value="closed">Closed</ion-option>
                  <ion-option value="filled">Filled</ion-option>
                </ion-select> -->
                <ion-select formControlName="jobStatus">
                  <ion-option value="open">Open</ion-option>
                  <ion-option value="on-hold">On hold</ion-option>
                  <ion-option value="closed">Closed</ion-option>
                  <ion-option value="filled">Filled</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="jobStatus.hasError('required') && jobStatus.touched">
                <p class="alert"> * Job status is required</p>
              </ion-item>
              <ion-item>
                <b>Job Description </b>
                <p item-end>{{ fileName }}</p>
                <ion-icon style="cursor: pointer;" name="ios-cloud-upload" item-end (click)="onBrowseClick($event)">
                </ion-icon>
                <input type="file" style="display: none;" accept="application/pdf" id="jd"
                  (change)="onFileSelected()" />
              </ion-item>
            </ion-list>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>

        <ion-col col-sm4>
          <ion-buttons end>
            <!-- <button ion-button (click)="handlePostJob();">Post</button> -->
            <button ion-button [disabled]="!formgroup.valid">Post</button>
            <button ion-button color="light" (click)="handleCancel();">Cancel</button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>